body {
  margin: 0;
  padding: 40px;
  background-image: url('../assets/images/wallpaperbetter-2.jpg') !important;
}

.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-seriff;
  font-weight: bolder;
  display: grid;

  height: 100vh;
 
  background-size:auto, 100%;
  overflow: scroll;
}

h1 {
  text-align: center;
  grid-row: 1;
  grid-column: 1 / span 2;
  color: #3057E3;
  text-decoration: underline;
  font-size: 45px;
}

.list{
  border: 5px solid rgb(83, 127, 192);
  border-radius: 9px;

  line-height: 2.7;
  font-weight: bold;
  font-size: 19px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
  color: #371366;
}

.list li:hover{
  color: rgb(122, 51, 17);
  font-size: 21px;
  cursor: pointer;
}

.details{
  font-weight: bold !important;
  min-width: 100%;
  font-weight: bold;
  font-size: 19px;
  padding-left: 10px;
}

.right{
  color: rgb(14, 11, 41);
  font-size: 26px;
  margin-top: 9%;
  margin-left: 150px;
  margin-right: 20px;
}

.details{
  display: flex;
  flex-direction: row;
}


.left img{
  height: 52%;
  border: 1px solid rgb(14, 11, 41);
  border-radius: 7px;
}

.left h2{
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  color: #004459;
}

.banner{
  max-width: auto;
  max-height: 300px;
  border: solid 1px black;
  border-radius: 7px;
}

.stat{
  padding-top: 20px;
  font-size: 30px;
}